@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Lato&display=swap');

.form {
  margin-left: 200px;
  margin-top: 50px;
}

.newQuiz {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}

.titleDescription {
  display: flex;
  height: 50px;
}

.title {
  font-family: 'Lato', sans-serif;
  resize: none;
}

.description {
  font-family: 'Lato', sans-serif;
  word-break: break-word;
  margin-left: 25px;
  width: 250px;
  resize: none;
}