.questions {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 10px;
}

.question {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.correctAnswer {
  margin-bottom: 10px;
  margin-top: 10px;
}

.incorrectAnswer {
  margin-bottom: 10px;
  margin-top: 10px;
}