.quizList {
  margin-left: 200px;
  margin-top: 50px;
}

.quizUl {
  list-style: none;
  display: flex;
}

h2 {
  color: black;
}

.item {
  width: 300px;
  height: 200px;
  border: 5px solid rgb(67, 69, 153);
  margin-right: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}