@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

.container {
  border-bottom: 10px solid rgb(255, 218, 224);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 80%;
  margin: auto;
  background-color: pink;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}